@charset "UTF-8";
/*------COLORES Y TAMAÑOS-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*BODY*/
body {
  font-family: 'Arial Narrow';
  margin: 0%;
  max-width: 100%;
  flex-direction: column;
  display: flex; }

/*HEADER*/
header {
  grid-area: header;
  background-color: #060c42;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25vh; }

.header_tittle {
  align-items: left; }

.header_nav {
  padding: 20px;
  width: 100%;
  line-height: 3em; }
  .header_nav h1 {
    font-size: 50px; }

.menusuperior {
  list-style-type: none; }
  .menusuperior li {
    text-align: center;
    display: inline-block; }
    .menusuperior li a {
      text-decoration: none;
      text-transform: uppercase;
      background-color: #0e2383;
      border-style: solid;
      border-color: #5a18a5;
      color: white;
      padding: 1rem; }

/*INDEX GRID*/
#contenedorgrid {
  display: grid;
  grid-template-areas: "header header  header" "main main novedades" "main main novedades" "main main novedades" "footer footer footer";
  height: 100vh; }

/*RELLENOINDEX*/
.rellenoindex {
  grid-area: main;
  margin: 20px;
  justify-content: center;
  align-items: center; }
  .rellenoindex h2 {
    font-size: 35px;
    color: #52b7d6; }
  .rellenoindex p {
    color: #9051e2; }

/*NOVEDADES INDEX*/
.novedades {
  grid-area: novedades;
  border-style: solid;
  margin: 20px 20px 20px;
  padding: 20px 20px 20px 20px; }

/*FOOTER*/
footer {
  grid-area: footer;
  background-color: #060c42;
  color: whitesmoke;
  position: relative;
  padding: 20px;
  display: inline-block; }

.footer map {
  position: absolute;
  right: 30px; }

/*----------------ANIMACIONES, TRANSICIONES Y GRADIENTES------------------*/
/************GRADIENTES***********/
header, footer {
  background-image: linear-gradient(135deg, #3f15a1, #17377a, #0e0e83, #59108a);
  animation: fanimado 10s infinite;
  background-size: 500%; }

/************ANIMACIONES***********/
@keyframes fanimado {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/************TRANSICIONES***********/
.menusuperior a:hover {
  background-color: steelblue; }

/*----------------MEDIA QUERIES------------------*/
@media screen and (max-width: 480px) {
  /**********HEADER***********/
  header {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: inline-block; }
  .header_tittle {
    display: none;
    position: absolute;
    right: 30px; }
  .header__nav {
    flex-direction: column;
    line-height: normal; }
  .header_nav .menusuperior {
    font-size: 10px; }
    .header_nav .menusuperior li {
      display: flex; }
    .header_nav .menusuperior a {
      border-style: solid;
      width: 100%; }
  .header_nav_nav h1 {
    font-size: 30px; }
  .header_nav_nav h2 {
    font-size: 25px; }
  /************INDEX***********/
  #contenedorgrid {
    display: block; }
  .rellenoindex {
    background-color: #1f2552;
    padding: 20px; }
    .rellenoindex img {
      width: 100%;
      height: auto; }
  .novedades img {
    width: 100%; }
  /************FOOTER***********/
  .footer {
    width: 100%; }
    .footer map {
      width: 100%; } }

@media (min-width: 481px) and (max-width: 768px) {
  /************HEADER***********/
  header {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: inline-block; }
  .header_tittle {
    display: none; }
  .header_nav {
    flex-direction: column;
    line-height: normal; }
  .menusuperior li {
    display: flex; }
  .menusuperior a {
    border-style: solid;
    width: 100%; }
  /************INDEX***********/
  #contenedorgrid {
    display: block; }
  .rellenoindex img {
    width: 100%;
    height: auto; }
  /************FOOTER***********/
  footer {
    width: 100%; } }

@media (min-width: 769px) and (max-width: 980px) {
  /************HEADER***********/
  .header_tittle img {
    max-width: 150px; }
  footer {
    display: block; } }
