
@import "variables";

@import "componentes/animaciones";

@import "layout/header";
@import "layout/footer";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*BODY*/
body {
    font-family: 'Arial Narrow';
    margin: 0%;
    max-width: 100%;
    flex-direction: column;
    display: flex;
}


/*INDEX GRID*/
#contenedorgrid {
    display: grid;
    grid-template-areas:
        "header header  header"
        "main main novedades"
        "main main novedades"
        "main main novedades"
        "footer footer footer";
    height: 100vh;
}

/*RELLENOINDEX*/
.rellenoindex {
    grid-area: main;
    margin: 20px;
    justify-content: center;
    align-items: center;
    h2{
        font-size: $font-secundarytittle;
        color: $color-tittle;

    }
    p{
        color: $color-secundary;
    }
    
}

/*NOVEDADES INDEX*/
.novedades {
    grid-area: novedades;
    border-style: solid;
    margin: 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}


/*----------------MEDIA QUERIES------------------*/
@media screen and (max-width:480px) {
    /**********HEADER***********/
    header {
        flex-direction: column;
        width: 100%;
        height: auto;
        display: inline-block
    }
    .header{
        &_tittle{
            display: none;
            position: absolute;
            right: 30px;       
        }
        &__nav {

            flex-direction: column;
            line-height: normal;    
        }
    }
    
    .header_nav{
        .menusuperior {
            font-size: 10px;
            li {

                display: flex;
        
            } 
            a {
                border-style: solid;
                width: 100%;
            }
        }
        &_nav h1 {
            font-size: 30px;
        }
    
        &_nav h2 {
            font-size: 25px;
        }
    } 


/************INDEX***********/
    #contenedorgrid {
        display: block;
    }

    .rellenoindex {
        background-color: #1f2552;
        padding: 20px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .novedades{
        img{
            width: 100%;
        }
    }
  
    /************FOOTER***********/

    .footer {
        width: 100%;

        map {
            width: 100%;
        }
    }
}

@media(min-width:481px) and (max-width:768px) {

    /************HEADER***********/

    header {
        flex-direction: column;
        width: 100%;
        height: auto;
        display: inline-block
    }
    
    .header{
        &_tittle{
            display: none;
        }
        &_nav{       
                flex-direction: column;
                line-height: normal;           
        }
    }

    .menusuperior{
        li {

            display: flex;
    
        }
        a {
            border-style: solid;
            width: 100%;
        }

    }



    /************INDEX***********/
    #contenedorgrid{
        display: block;
    }
    
    .rellenoindex img {
        width: 100%;
        height: auto;
    }

    /************FOOTER***********/
    footer {
        width: 100%;
    }
}

@media(min-width:769px) and (max-width:980px) {
    /************HEADER***********/
    .header{
        &_tittle{
            img{
            max-width: 150px;
        }
       }    
    }
    
    footer{
        display: block;
    }    
}

     