/*-----FOOTER------*/
footer {
    grid-area: footer;
    background-color: #060c42;
    color: whitesmoke;
    position: relative;
    padding: 20px;
    display: inline-block;
}
.footer{
    map{
        position: absolute;
        right: 30px;
    
    }
}
